@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root {
        --color-text-header: #ffffff;
        --color-text-body: #465057; /* Matches FanDuel Color */
        --color-text-accent: #65676b;
        --color-text-action-unselected: #2563eb; /* text-blue-600 */
        --color-text-action-selected: #ffffff;
        --color-text-action-hover: #1e40af; /* text-blue-800 */
        --color-text-betslip-header: #465057;

        --color-button-muted: #4089ea; /* Matches FanDuel Color */
        --color-button-accent: #4ea557; /* Matches FanDuel Color */
        --color-button-action-unselected: #ffffff; /* same as muted */
        --color-button-action-selected: #4089ea; /* same as muted */
        --color-button-action-hover: #e5e7eb; /* bg-gray-200 */

        --color-background-default: #0f172a; /* slate-900 */
        --color-background-default-selected: #1e293b; /* slate-800 */
        --color-background-accent: #e2e8f0; /* slate-200 */
        --color-background-overlay: #ffffff;
        --color-background-sidebar-divider: #1E293B;
        --color-background-betslip: #ffffff;

        --color-border-divider: #0f172a; /* slate-900 */
        --color-border-action-unselected: #4089ea;
        --color-border-action-selected: #000000;
    }
    .theme-dark {
        --color-text-header: #ffffff;
        --color-text-body: #ffffff; 
        --color-text-accent: #171717;
        --color-text-action-unselected: #ffffff; 
        --color-text-action-selected: #ffffff;
        --color-text-action-hover: #1e40af; 
        --color-text-betslip-header: #ffffff;

        --color-button-muted: #4089ea;
        --color-button-accent: #4ea557;
        --color-button-action-unselected: #3B82F6; 
        --color-button-action-selected: #1E40AF; 
        --color-button-action-hover: #A1A1AA;

        --color-background-default: #171717; 
        --color-background-default-selected: #2563EB;
        --color-background-accent: #3F3F46; 
        --color-background-overlay: #71717A;
        --color-background-sidebar-divider: #262626;
        --color-background-betslip: #1E293B;


        --color-border-divider: #0f172a; 
        --color-border-action-unselected: #2563eb;
        --color-border-action-selected: #171717;
      }
}